.no_input_focus input:focus {
  border: 0px none #fff !important;
}

.alist_input {
  border: 0px none #fff !important;
  border-radius:0px  !important;
  padding:5px !important;
  background:rgb(0, 148, 141)  !important;
  color:#000  !important;
  font-family: ubuntu-mono  !important;
}