.no_input_focus input:focus {
  border: 0px none #fff !important;
}

.alist_input {
  border: 0px none #fff !important;
  border-radius:0px  !important;
  padding:5px !important;
  background:rgb(196, 255, 252)  !important;
  /* color:#000  !important; */
  font-family: ubuntu-mono  !important;
  color: #fff !important;
}

/* .ui.sidebar {
  width: 600px !important;
  margin-left: -600px !important;
} */

/* .ui.active.sidebar {
  margin-left: 0px !important;
}

.ui.active.right.sidebar {
  margin-left: -600px !important;
} */