.no_input_focus input:focus {
  border: 0px none #fff !important;
}

.alist_input {
  border: 0px none #fff !important;
  border-radius:0px  !important;
  padding:5px !important;
  background:rgb(196, 255, 252)  !important;
  /* color:#000  !important; */
  font-family: ubuntu-mono  !important;
  color: #fff !important;
}

/* .ui.sidebar {
  width: 600px !important;
  margin-left: -600px !important;
} */

/* .ui.active.sidebar {
  margin-left: 0px !important;
}

.ui.active.right.sidebar {
  margin-left: -600px !important;
} */

.react-flow__controls {
    top: 60px !important; 
    right: 15px !important;
    position: absolute !important;
    z-index: 5 !important;
    left: auto !important;
    bottom: auto !important;
}

.react-flow{
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
}

.react-flow__node-default, .react-flow__node-input, .react-flow__node-output{
  font-size: 10px;
}

.react-flow__node-input.selected, .react-flow__node-input.selected:hover  {
  box-shadow: 0 0 0 5px #ff5e0080;
}

.react-flow__node-output.selected, .react-flow__node-output.selected:hover  {
  box-shadow: 0 0 0 5px #00a50080;
}

.react-flow__node-default.selected, .react-flow__node-default.selected:hover {
  box-shadow: 0 0 0 5px #00000080 ;
}

.header_logo_name{
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #e78529;
}

.header_item{
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase !important;
  font-size: 12px;
  font-weight: 200;
  color: rgb(0, 55, 65);
}


.ui.sidebar{
  height: auto !important;
}